#widget-charts {
  h2 {

  }

  .charts{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  }
  .chart {
      text-align: center;


  }
}
@include breakpoint(medium) {
  #widget-charts {
    .charts{
      grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    }
  }
}
