#mainWidgets {

  h2 {
    text-align: center;
  }
  footer {
    display: flex;
    justify-content: center;

    a {
      margin: 0 1rem;
    }
  }

  table {
    td {
      &:nth-child(1) {
        width: 20%;
      }
      &:nth-child(2) {
        width: 60%;
      }
      &:nth-child(3) {
        width: 40%;
      }
    }
  }
}
#sideWidgets {


  background: $complementary-light-color1;
}
