#mainWidgets {
  margin-bottom: $global-margin;
  
  h2 {
    text-align: center;
  }
  footer {
    display: flex;
    justify-content: center;

    a {
      margin: 0 1rem;
    }
  }
}
#sideWidgets {


  background: $complementary-light-color1;
}
