#mainWidgets {

  .widget {

    border-top: 3px solid $medium-gray;

    padding-top: 2rem;

    &:first-child {
      border: none;
      padding-top:0;
    }
  }
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //margin-bottom: 2rem;

    a {
      margin: 0 1rem 1rem;
    }
  }

  table {
    td {
      &:nth-child(1) {
        min-width: 150px;
        width: 20%;
      }
      &:nth-child(2) {
        min-width: 300px;
        width: 60%;
      }
      &:nth-child(3) {
        min-width: 150px;
        width: 40%;
      }
    }
  }
}
#sideWidgets {


}
#quickLinks {
  ul {
    margin-left: 0;
  }
  li {

    list-style: none;
    margin: 0 0 .8rem;
  }

}
#calendar {
  img {
    width: 100%;
  }
}
#reports {
  ul {
    //margin: 0 0 1.5rem;
    //padding: 0;
  }
  li {
    list-style: disc;
    //margin: 0 0 0.5rem;
    //padding: 0;
  }
}

@include breakpoint(medium) {
  #mainWidgets {
    footer {
      flex-direction: row;
      justify-content: center;
    }
  }
}
@include breakpoint(large) {
  #mainWidgets {

  }
}
