
@include breakpoint(medium) {
  #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: 1px solid $complementary-light-color2;
  	background: $white;
    font-size: $small-font-size;
  	padding: $global-padding $global-edge-padding;

    .contact {
      display: flex;
      flex-direction: row-row-reverse;

      a {
        margin: 0 0 0 .5rem;
      }
    }
    .documentation {

      ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
      }
      li {
        border-left: 1px solid $medium-gray;
        list-style: none;
        margin: 0;
        padding: 0 .5rem;

        &:first-child {
          border: none;
          padding-left: 0;
        }
      }
    }
    /*
    a {
  		color: $black;
      display: inline-block;
  		margin: 0px 10px;
  		&:hover {
  			color: $dark-gray;
  		}
  	}
    */
  }

}
