
@include breakpoint(medium) {
  #footer {
    border-top: 1px solid $complementary-light-color2;
  	background: $white;
    display: block;
    font-size: $small-font-size;
  	padding: $global-padding $global-edge-padding;

    .contact {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  	a {
  		color: $black;
      display: inline-block;
  		margin: 0px 10px;
  		&:hover {
  			color: $dark-gray;
  		}
  	}
    .contact {
      text-align: center;
    }
  }

}
