#footer {
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid $complementary-light-color2;
	background: $white;
  font-size: $small-font-size;
	padding: $global-padding $global-edge-padding;

	a {
		color: $black;
    display: block;
		margin: 0px;
		&:hover {
			color: $dark-gray;
		}
	}
}

@include breakpoint(medium) {
  #footer {

    a {
      display: inline;
      margin: 0 10px 0 0;
    }
  }

}
