form,.form, .formTextContainer {
  max-width: 800px;


  footer {
    margin: $global-margin*0.5 0;
    button.button {
      margin-bottom: 0;
    }
  }

  .close-button {
    top: 0;
  }

  label,.labelText {
  	font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .text {
  	margin-bottom: $global-margin;
    min-height: 1.5rem;
  }
  input[type=text],
  input[type=password],
  input[type=email],
  select,
  textarea {
    background: $complementary-light-color1;
    border-radius: 0;
    border: none;
    border-bottom: 3px solid $light-gray;
    box-shadow: 0 0;
    height: 3.5rem;
    padding: 0.8rem 0.8rem 0.5rem;
    /*
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 );
    */
    &:focus {
      border-radius: 0;
      border: none;
      border-bottom: 3px solid $medium-gray;
      box-shadow: 0 0;
      background: lighten($contrast-color1,30);
    }
  }
  textarea {
    height: 180px;
  }

  input[type=text].noBox,
  input[type=password].noBox,
  input[type=email].noBox,
  select.NoBox,
  textarea.NoBox {
    background: none;
    border: none;
    border-bottom: 0.2rem solid $light-gray;
    box-shadow: none;
    border-radius: 0;
  }

  .checkboxGroup,
  .radioGroup {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: $global-margin;

    input[type='radio'],
    input[type='checkbox'], {
      margin: 0 0.5rem 0 0;
    }
    label {
      margin: 0 $global-margin $global-margin 0;
    }
  }

  .formCallout {
    display: none;
  }

  .screenshots {
    min-height: 200px;
    width: 100%;

  	img {
  		@include position(relative);
  		border: 1px solid $complementary-dark-color3;

  		&:hover:after {
  			@include position(absolute,$top: 0, $left: 0);
  			background: rgba(0,0,0,0.2);
  		}
  	}
  }

  &.form2 {
    background: $complementary-dark-color3;
    color: $complementary-light-color1;

    label,
    .labelText {
      color: $complementary-light-color1;
    }
  }

  &.form3 {
    background: $complementary-light-color1;
    //color: $complementary-light-color1;

    label,
    .labelText {
      //color: $complementary-light-color1;
    }
  }

  &.formContainer {
    @include global-box();
  }
}

.formTextContainer {
  .labelText {
    border-bottom: 2px solid $light-gray;
    padding-bottom: 0.4rem;
  }

}

@include breakpoint(medium) {
  form,.form, .formTextContainer {
    .radioGroup,
    .checkboxGroup {
      flex-direction: row;
    }
  }
}
