form,.form, .formTextContainer {
  max-width: 800px;

  .breadcrumbs {
    display: flex;
    justify-content: space-between;
    ul {
      margin: 0;
      padding:0;
    }
    li {
      list-style: none;
    }
  }
.breadcrumbs a {
  display: inline;
}
  .close-button {
    top: 0;
  }

  label,.labelText {
  	font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .text {
  	margin-bottom: $global-margin;
    min-height: 1.5rem;
  }
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=Date],
  select,
  textarea {
    background: $complementary-light-color1;
    border-radius: 0;
    border: none;
    border-bottom: 3px solid $light-gray;
    box-shadow: 0 0;
    height: 3.5rem;
    padding: 0.8rem 0.8rem 0.5rem;
    /*
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 );
    */
    &:focus {
      border-radius: 0;
      border: none;
      border-bottom: 3px solid $medium-gray;
      box-shadow: 0 0;
      background: lighten($contrast-color1,30);
    }
  }
  textarea {
    height: 180px;
  }

  input[type=text].noBox,
  input[type=password].noBox,
  input[type=email].noBox,
  select.NoBox,
  textarea.NoBox {
    background: none;
    border: none;
    border-bottom: 0.2rem solid $light-gray;
    box-shadow: none;
    border-radius: 0;
  }

  .checkboxGroup,
  .radioGroup {
    @include formGroups(column);

  }
  .dateGroup {
    @include formGroups();

    input[data-date-group=DD],
    input[data-date-group=MM] {
      text-align: center;
      width: 60px;
    }
    input[data-date-group=YYYY] {
      text-align: center;
      width: 100px;
    }
  }

  .inlineGroup {
    @include formGroups();

    input[type=text] {
      width: 120px;
    }
  }

  .formCallout {
    display: none;
  }

  .screenshots {
    min-height: 200px;
    width: 100%;

  	img {
  		@include position(relative);
  		border: 1px solid $complementary-dark-color3;

  		&:hover:after {
  			@include position(absolute,$top: 0, $left: 0);
  			background: rgba(0,0,0,0.2);
  		}
  	}
  }

  .buttonsGroup {
    display: flex;

    justify-content: space-between;
  }
.scoreForm {
  .scoreRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    > .labelText {
      grid-column: 1 / -1;
    }
    .checkBoxGoup {
      grid-column: 1 / 11;
    }
    .score {
      grid-column: -3 / -1;
      text-align: right;
    }
  }

  .scoreTotal {
    justify-content: flex-end;
  }
}

  input[placeholder=other] {
    width: 200px;
  }

  &.form2 {
    background: $complementary-dark-color3;
    color: $complementary-light-color1;

    label,
    .labelText {
      color: $complementary-light-color1;
    }
  }

  &.form3 {
    background: $complementary-light-color1;
    //color: $complementary-light-color1;

    label,
    .labelText {
      //color: $complementary-light-color1;
    }
  }

  &.formContainer {
    @include global-box();
  }
}

.formTextContainer {
  .labelText {
    border-bottom: 2px solid $light-gray;
    padding-bottom: 0.4rem;
  }
}
.spanCss{
  color: red;
}
#mainTable th {
    padding: 1.2rem 0.8rem;
    background: #fff;
}

#mainTable tr {
    background: #fff;
}

    #mainTable tr:nth-child(even) {
        background-color: #fff;
    }

#mainTable .titleTr {
    background-color: #ccc !important;
}

#mainTable td,
th {
    border: 1px solid #000;
}
@include breakpoint(medium) {
  form,.form, .formTextContainer {
    .radioGroup,
    .checkboxGroup {
      flex-direction: row;

      &.columns {
        flex-direction: columns;
      }
    }
  }
}
