#header {
	.topBar {
		display: flex;
		justify-content: flex-end;
		align-items: center;

	  background: $contrast-color1;
	  border-bottom: 5px solid $light-gray;
		height: 100%;
		padding: $global-padding $global-edge-padding;
		position: relative;
		z-index: 1;
	}
}

#logo {
	color: $white;
	display: none;
	font-weight: bold;
	font-size: 22px;
	text-transform: uppercase;
}

@include breakpoint(small only) {
		#header {
			.topBar {

			}
		}
		#logo {
			display: none;
		}


}


@include breakpoint(medium) {
  #header {
		.topBar {
      justify-content: space-between;
    }
	}
	#logo {
		display: block;
	}
	#mainMenu {
		display: none;
	}
}
