html, body {
  height: 100%;
}

#main {
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-areas:
    'h h h h h h h h h h h h'
    'mc mc mc mc mc mc mc mc mc mc mc mc';

  height: 100%;
  //max-width: 1400px;
  margin: 0 auto;
}
#mainMenu {

}
#mainContent {
  min-height: 400px;
}

.page-noframe {
  #main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mainContent {
    min-height: auto;
  }
}

#header {
  grid-area: h;

}

#footer {
  display: none;
}

#mainContent {
  grid-area: mc;
}

@include breakpoint(medium) {
  #main {
    grid-template-rows: 80px auto 60px;
    grid-template-areas:
    'h h h h h h h h h h h h'
    'mc mc mc mc mc mc mc mc mc mc mc mc'
    'f f f f f f f f f f f f';
  }
  #footer {
    grid-area: f;
  }
}

@include breakpoint(large) {

}
