html, body {
  height: 100%;
}

#main {
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-areas:
    'h h h h h h h h h h h h'
    'mc mc mc mc mc mc mc mc mc mc mc mc';

  height: 100%;
  //max-width: 1400px;
  margin: 0 auto;
}
#mainMenu {

}
#mainContent {
  min-height: 400px;
}

.page-noframe {
  #main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mainContent {
    @include border-radius(8px);
    box-shadow: 0 0 10px $light-gray;

    height: 95%;
    min-height: auto;
    width: 90%;

    @include breakpoint(medium) {
      width: 60%;
      height: auto;

    }
    @include breakpoint(large) {
      //height: 30%;
      width: 400px;
    }
  }
}

#header {
  background:  $white;
  grid-area: h;

}

#footer {
  display: none;
}

#mainContent {
  grid-area: mc;
  overflow-y: scroll;
}

@include breakpoint(medium) {
  #main {
    grid-template-rows: 80px auto 60px;
    grid-template-areas:
    'h h h h h h h h h h h h'
    'mc mc mc mc mc mc mc mc mc mc mc mc'
    'f f f f f f f f f f f f';
  }

  #footer {
    grid-area: f;
    overflow: hidden;
  }
}

@include breakpoint(large) {

}
