html, body {
  height: 100%;
}

#main {
  display: grid;
  grid-template-rows: 100px auto 60px;
  grid-template-areas:
    'h h h h h h h h h h h h'
    'mc mc mc mc mc mc mc mc mc mc mc mc'
    'f f f f f f f f f f f f';

  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
#mainContent {
  min-height: 400px;
}

.page-noframe {
  #main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mainContent {
    min-height: auto;
  }
}

#header {
  grid-area: h;

}

#footer {
  grid-area: f;
}

#mainContent {
  grid-area: mc;
}

@include breakpoint(medium) {

}

@include breakpoint(large) {

}
