#page-login {
  #mainContent {

    .formCallout  {
      margin: 1rem 0;
    }
    #rememberMe {
      margin-bottom: 0;
    }
    section {
      margin-bottom: 0;
    }
    footer button {
      margin-bottom: 0;
    }
  }

}
