#main {
	background: $light-gray url(../img/cubes.png) repeat center center;
	//@include position(relative);
  //height: 100%;
}

#mainContent {
	background: $white;
	padding: $global-padding $global-edge-padding;
	//padding-top: 8rem;

	h1 {
		small {
			color:$black;
		}
	}

  header.titleMain {
    border-bottom: none;
    margin-bottom: 1.5rem;

  }

	section {
		//margin-bottom: 2rem;
	}
}

.contentContainer {
  & > header {

	}
}

ul.noBullets {
	@include noBulletsList;
}

.icon img {
	//margin-right: 0.5rem;
	vertical-align: middle;
}

.boxModel {
	@include global-box();
}

.calloutInline {
	display: inline-block;
}
.calloutNeutral {
	background: $complementary-light-color3;
}

.inlineRow {
	margin-bottom: 0.5em;
	div{
		display: inline;
		margin-right: 1em;
		b{
			margin-right: 0.5em;
		}
	}
}

.boxContent {
  @include global-box($padding-top: 0,$padding-left:0, $padding-right: 0, $padding-bottom: 0, $margin-bottom: 1.5rem);
}

.attachments {
  @include global-box();
  background: $light-gray;
  margin-bottom: $global-margin;
  min-height: 100px;

}

#contentWindow {
	header {
		margin-bottom: 1.5rem;

		.sideLinks {
			display: block;
			padding: 1rem 0 0.5rem;

			a {
				border-left: 1px solid $light-gray;
				padding-left: 0.5rem;
				margin-right: 0.5rem;

			}
			a:first-child {
				border: none;
				padding: 0;
			}
		}
	}
}


@include breakpoint(medium) {
  #mainContent {
    //height: 100%;
    //min-height: 300px;
    section {
  		margin-bottom: $global-section-margin;
  	}
  }

	#contentWindow {
		> header {
			border-bottom: 1px dashed $medium-gray;
			margin-bottom: 3rem;

			.sideLinks {
				display: inline;
				margin-left: 1rem;

				a {
					border-left: 1px solid $light-gray;
					padding-left: 0.5rem;
					margin-right: 0.5rem;

				}
				a:first-child {
					border: none;
					padding: 0;
				}
			}
		}
	}
}
