#mainMenuContainer {
  display: none;
  height: 400px;
  overflow: hidden;
  position: relative;

}

#mainMenu {
  @include position(absolute, $top: 0, $right: 0, $left: 0, $zIndex: 50);
  display: grid;
  grid-template-columns: 30% repeat(auto-fit, minmax(70%,1fr));
  grid-template-rows: 400px;
  //visibility: hidden;
  //text-transform: uppercase;
  width: 100%;

  //menu links
  a {
    display:block;
    color: $complementary-light-color3;
    padding: 0.8rem 1rem;

    &:hover {
      @include activeDropDown;
      background: $complementary-dark-color2;
    }
  }

  ul {
    height: 100%;
    margin: 0;
    overflow-y:auto;
    padding: 0;


    li {
      border-top: 1px solid $complementary-dark-color1;
      list-style: none;
      padding: 0;
    }
    li:nth-child(1) {
      border: none;
    }
  }

  .module {
    //min-width: 300px;
    //width: 20%;
      background: $complementary-dark-color2;

      a:hover {
        @include activeDropDown;
        background: $complementary-dark-color3;
      }
  }
  .moduleMenu {
    //display: none;
    //min-width: 300px;
    //width: 80%;
  }

  .dropdown.menu .is-active > a {
    @include activeDropDown;
  }

  .submenu {
    background: $complementary-dark-color2;
    color: $complementary-light-color1;
    margin-top: 1.35rem;

    li {
      border-top: 1px solid $complementary-light-color3;
      &:first {
        border-top: none;
      }
    }
      //submenu links
      a {
        color: $complementary-light-color1;
        text-transform: none;
        &:hover {
          border-radius: 0;
          background: $complementary-dark-color3;
          color: $complementary-light-color1;
        }
      }
  }
}

#navSecondary {
  display: flex;
  justify-content: space-around;
  align-items: center;

  li {
    list-style: none;

    a {
      display: inline-block;
      padding: 0.8rem 0.8rem;
    }
  }

  .text {
    display: none;
  }
}

#mainMenuLeft nav {
  a {
    background: $complementary-dark-color3;
    color: $complementary-light-color1;
    &:hover {
      @include border-radius($radius: 0);
      background: darken($complementary-dark-color2,30);
      color: $complementary-light-color1;
    }
  }
  .dropdown.menu .is-active > a {
    @include border-radius($radius: 0);
    @include activeDropDown;

    background: $complementary-dark-color2;
    color: $complementary-light-color1;
  }

  .submenu {
    border: 1px solid $complementary-dark-color3;
    color: $complementary-dark-color1;
    margin-top: 0;
    margin-left: 0;

    width: 100%;

    li {
      border-top: 1px solid $complementary-dark-color3;
      &:first {
        border-top: none;
      }
    }

      a {
        background: $complementary-dark-color2;
        color: $complementary-light-color1;
        padding-left: 60px;
        text-transform: none;
        &:hover {
          border-radius: 0;
          background: $complementary-dark-color3;
          color: $complementary-light-color1;
        }
      }
  }
}
