div.GridDimensions {
  $gridLineHeight: 1.3em;
  box-sizing: content-box;
	line-height: $gridLineHeight;
  padding-left: 1px;

  .slick-headerrow-column.ui-state-default,
  .slick-header-column.ui-state-default,
  .slick-cell,
  .slick-headerrow-column {

    padding: 0.5rem 0.5rem;
  }

  .slick-header-column.ui-state-default {
    line-height: $gridLineHeight;
  }

  .slick-header {
		background: $complementary-light-color3;
		border: 1px solid silver;
    left: -1px; //to display right border, to match the rest of the rows border

		.slick-header-column {

		}
    /*
    .slick-header-menubutton {
      background-image: url("../../assets/img/down.gif") !important;
      display: block;
      width: 12px;
      height: 10px;
    }
    */
	}
  .slick-row.ui-widget-content {
    border-left: 1px solid silver;
    left: -1px;
  }
}
