div.GridDimensions {

  .slick-headerrow-column.ui-state-default,
  .slick-header-column.ui-state-default,
  .slick-cell,
  .slick-headerrow-column {
    height: auto;
    padding: 1.2rem 0.8rem;
  }

  .slick-row {
    height: auto;
  }

}
