//
.tabBoxContainer {
  @include position(relative);
  //margin-bottom: $global-margin;
  //z-index: 2;

  .tabBoxButton {
    //@include border-radius($radius: $global-radius);
    //align-self: flex-end;
    margin: 0px;
    z-index: 2;

    &.tabBoxButtonOpen {
      @include border-radius($top-right:$global-mobile-radius, $top-left:$global-mobile-radius,$bottom-right:0px, $bottom-left: 0px);
    }
  }
  .tabBoxContent {
    @include position(absolute,$top: 100%);

    //display: none;
    //padding-top: 49px;
    @include border-radius($top-right:8px, $top-left: 0,$bottom-right:8px, $bottom-left: 8px);

    background: $primary-color;
    color: $white;
    min-width: 200px;
    padding: 1rem 1rem;
    width: 100%;
    z-index: 1;

    label,
    .labelText {
      color: $white;
    }

    input[type=text],
    select,
    textarea {
      color:$black;
    }

    .tabBoxButtonClose {
      @include position(absolute, $top: -10px, $right: 0);
      color: $white;
      margin: 0;
    }
  }
  .tabBoxModal {
    @include border-radius($top-right:8px, $top-left: 8px,$bottom-right:8px, $bottom-left: 8px);
    max-width: none;
  }

  .close-button {
    //color: $complementary-light-color1;
    right: 0;
    top: 0;
  }
}

@include breakpoint(medium) {
  .tabBoxContainer {
    .tabBoxButton {
      &.tabBoxButtonOpen {
        @include border-radius($top-right:$global-radius, $top-left: $global-radius,$bottom-right:0px, $bottom-left: 0px);
      }
    }
  }
}
