table {

  thead {
    border: none;
    th {
      font-size: $global-font-size*0.8;
      font-weight: normal;
      line-height: 1.2;
      text-transform: uppercase;
      text-align: center;
    }
  }

  tbody {
    //border: 1px solid $complementary-dark-color3;
    border: none;
    tr {
      //border-top: 1px solid $complementary-dark-color3;
    }
    td {
      padding: 1.2rem 0.8rem;
    }
    td.colorCodePending {
      background: #ffff00;
    }
    td.colorCodeActive {
      background: #00cc00;
    }
    td.colorCodeNonActive {
      background: #e60000;
    }

  }

  &.table-lines {
    thead {
      tr {

      }
      th {
        background: none;
      }
    }
    tbody {
      background: none;

      tr {
        border-bottom: 1px solid $medium-gray;
      }

      tr,
      tr td {
        background: none;
      }
    }
  }

  &.hover {
    tbody{
      tr:hover {
        background: $complementary-light-color1;
      }
      tr:hover:nth-child(even) {
        background: $complementary-light-color2;
        //color: $black;
      }
    }
  }

  tr.selected td {
    color: $white;
    background: $contrast-color1;
  }
  &.table-lines {
    tr.selected {
      color: $white;
      background: $contrast-color1;
    }
    tr:hover.selected {
      background: darken($contrast-color1,10);
    }
  }
  tr:hover.selected {
    background: darken($contrast-color1,10);
  }

  &.packageTable, &.packagetranTable {
    td {
      text-align: center;
    }
  }
}



@include breakpoint(medium) {
  .table-scroll table {
    width: 100%;
  }
}
