<aside id="sidebar2" class="sidebar">
  <div id="profileSummary" class="component">
    <h3>Contact</h3>
    <ul class="noBullets">
      <li><a href="tel:91110111"><i class="icon"><img src="{{root}}assets/img/icon-dark-small-phone.png" alt="phone icon" /></i> 9111 0111</a></li>
      <li><a href="mailto:dell.goh@bss.org.sg"><i class="icon"><img src="{{root}}assets/img/icon-dark-small-mail.png" alt="email icon" /></i> dell.goh@bss.org.sg</a></li>
    </ul>
    <h3>Role</h3>
    <p>Administrator</p>
    <h3>Group</h3>
    <ul >
      <li><a href="#">Administrator</a></li>
      <li><a href="#">Donation</a></li>
      <li><a href="#">Volunteer</a></li>
    </ul>
  </div>
</aside>
