<header id="header">
  <div class="topBar">
    <a href="{{root}}Ticketing/TicketingHome.html" id="logo">BIZCUBE TICKETING</a>
    <ul id="navSecondary" >
      <li>
        <a href="{{root}}Ticketing/TicketingHome.html" id="navHome" title="Home"><i class="icon"><img src="{{root}}assets/img/icon-light-home.png" /></i> <span class="text">Home</span></a></li>
      <li>
        <a href="{{root}}/Ticketing/profile.html" id="navProfile" title="Profile"><i class="icon"><img src="{{root}}assets/img/icon-light-profile.png" /></i> <span class="text">Profile</span></a></li>
      <li>
        <a href="#" id="logOut"><i class="icon"><img src="{{root}}assets/img/icon-light-log-out.png" /></i> <span class="text">Logout</span></a>
      </li>
      <li>
        <a href="#" id="navMainMenu" class="menu-icon"><span class="text">Main Menu</span></a>
      </li>
    </ul>
  </div><!-- topBar-->
  <div id="mainMenuContainer">
    <header>
      <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </header>
    <nav id="mainMenu">
      <ul class="module">
        <li><a href="{{root}}/ticketing/" data-menu="ticketing" >Ticketing</a></li>
      </ul>
      <ul id="moduleMenu-ticketing" class="moduleMenu" data-redirect="false">
        <li><a href="{{root}}/Ticketing/TicketingHome.html">Home</a></li>
        <li class="packageMenu"><a href="{{root}}/Ticketing/packages.html">Packages</a></li>
      </ul>
    </nav><!-- main menu -->
    <footer>BIZCUBE TICKETING</footer>
  </div><!-- mainMenuContainer end -->
</header>
<!-- header end -->
