<script src="{{root}}assets/js/app.js"></script>
<!--<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>-->
<script src="{{root}}assets/js/bizcube2/master.js"></script>
<script src="{{root}}assets/js/bizcube2/jquery.event.drag-2.0.min.js"></script>
<script src="{{root}}assets/js/bizcube2/slick.bcdefault.js"></script>
<script src="{{root}}assets/js/bizcube2/slick.grid.helper.js"></script>


{{#ifpage 'TicketingHome'}}
<script src="{{root}}assets/js/single-page/packagelist.js"></script>
<script src="{{root}}assets/js/single-page/caselist.js"></script>
{{/ifpage}} {{#ifpage 'login'}}
<script src="{{root}}assets/js/single-page/login.js"></script>
{{/ifpage}} {{#ifpage 'case'}}
<script src="{{root}}assets/js/single-page/casedetails.js"></script>
{{/ifpage}} {{#ifpage 'packages'}}
<script src="{{root}}assets/js/single-page/packagelist.js"></script>
{{/ifpage}} {{#ifpage 'packageDetails'}}
<script src="{{root}}assets/js/single-page/packagelist.js"></script>
{{/ifpage}} {{#ifpage 'profile'}}
<script src="{{root}}assets/js/single-page/profile.js"></script>
{{/ifpage}} {{#ifpage 'changeMyPwd'}}
<script src="{{root}}assets/js/single-page/profile.js"></script>
{{/ifpage}} {{#ifpage 'initial-assesment-form'}}
<script src="{{root}}assets/js/single-page/initial-assesment-form.js"></script>
{{/ifpage}} {{#ifpage 'means-testdeclarationform'}}
<script src="{{root}}assets/js/single-page/means-testdeclarationform.js"></script>
{{/ifpage}}
 {{#ifpage 'AppealforExtendedSubsidies'}}
<script src="{{root}}assets/js/single-page/AppealforExtendedSubsidies.js"></script>
{{/ifpage}}
{{#ifpage 'AppealforExtendedSubsidies'}}
<script src="{{root}}assets/js/single-page/AppealforExtendedSubsidies.js"></script>
{{/ifpage}}
{{#ifpage 'AssistiveDeviceEquipmentSubsidy_ApplnForm'}}
<script src="{{root}}assets/js/single-page/AssistiveDeviceEquipmentSubsidy_ApplnForm.js"></script>
{{/ifpage}}
{{#ifpage 'musculardystrophyassociation'}}
<script src="{{root}}assets/js/single-page/musculardystrophyassociation.js"></script>
{{/ifpage}}
