<script src="{{root}}assets/js/app.js"></script>


{{#ifpage 'TicketingHome'}}
  <script src="{{root}}assets/js/single-page/TicketingHome.js"></script>
{{/ifpage}}
{{#ifpage 'login'}}
  <script src="{{root}}assets/js/single-page/login.js"></script>
{{/ifpage}}
{{#ifpage 'case'}}
  <script src="{{root}}assets/js/single-page/case.js"></script>
{{/ifpage}}
{{#ifpage 'packages'}}
  <script src="{{root}}assets/js/single-page/package.js"></script>
{{/ifpage}}
{{#ifpage 'packageDetails'}}
  <script src="{{root}}assets/js/single-page/packageDetails.js"></script>
{{/ifpage}}
{{#ifpage 'profile'}}
  <script src="{{root}}assets/js/single-page/profile.js"></script>
{{/ifpage}}
{{#ifpage 'changeMyPwd'}}
  <script src="{{root}}assets/js/single-page/profile.js"></script>
{{/ifpage}}
{{#ifpage 'EmailRetrieval'}}
  <script src="{{root}}assets/js/single-page/EmailRetrieval.js"></script>
{{/ifpage}}
{{#ifpage 'InitialAssesmentForm'}}
<script src="{{root}}assets/js/single-page/initial-assesment-form.js"></script>
{{/ifpage}}
{{#ifpage 'PwdRetrieval'}}
  <script src="{{root}}assets/js/single-page/PwdRetrieval.js"></script>
{{/ifpage}}
