<script src="{{root}}assets/js/app.js"></script>
{{#ifpage 'TicketingHome'}}
  <script src="{{root}}assets/js/single-page/packagelist.js"></script>
  <script src="{{root}}assets/js/single-page/caselist.js"></script>
{{/ifpage}}
{{#ifpage 'login'}}
  <script src="{{root}}assets/js/single-page/login.js"></script>
{{/ifpage}}
{{#ifpage 'case'}}
  <script src="{{root}}assets/js/single-page/casedetails.js"></script>
{{/ifpage}}
{{#ifpage 'packages'}}
  <script src="{{root}}assets/js/single-page/packagelist.js"></script>
{{/ifpage}}
{{#ifpage 'packageDetails'}}
  <script src="{{root}}assets/js/single-page/packagelist.js"></script>
{{/ifpage}}
{{#ifpage 'profile'}}
  <script src="{{root}}assets/js/single-page/profile.js"></script>
{{/ifpage}}
{{#ifpage 'changeMyPwd'}}
  <script src="{{root}}assets/js/single-page/profile.js"></script>
{{/ifpage}}
