<aside id="sidebar2" class="sidebar sideWidgets">
  <div id="quickLinks" class="widget">
    <ul>
      <li><a href="#" id="addDonation" class="buttonType3 left"><i class="icon"><img src="{{root}}/assets/img/icon-light-donation.png" alt="icon"></i> New Donation</a></li>
      <li><a href="#" id="addEvent" class="buttonType3 left"><i class="icon"><img src="{{root}}/assets/img/icon-light-event-add.png" alt="icon"></i> New Event</a></li>
      <li><a href="#" id="addVolunteer" class="buttonType3 left"><i class="icon"><img src="{{root}}/assets/img/icon-light-volunteer.png" alt="icon"></i> New Volunteer</a></li>
    </ul>
  </div>
  <div id="calendar" class="widget">
    <h3>Calendar</h3>
    <p>
      <img src="{{root}}/assets/img/calendar.jpg" alt="" >
    </p>
  </div>
  <div id="reports" class="widget">
    <h3>Reports</h3>
    <h4>Donation</h4>
    <ul>
      <li><a href="">Donation Amount</a></li>
      <li><a href="">Donation Batch Listing</a></li>
      <li><a href="">Donation Batch Summary</a></li>
      <li><a href="">Donation Receipt Listing</a></li>
    </ul>
    <h4>Volunteer</h4>
    <ul>
      <li><a href="">Local Volunteer Report</a></li>
      <li><a href="">VMFS Volunteer Statistics</a></li>
      <li><a href="">Volunteer (Individual) Listing</a></li>
      <li><a href="">Volunteer (Individual) Summary</a></li>
    </ul>
  </div>
  <div id="profileSummary" class="component">
    <h3>Contact</h3>
    <ul class="noBullets">
      <li><a href="tel:91110111"><i class="icon"><img src="{{root}}assets/img/icon-dark-small-phone.png" alt="phone icon" /></i> 9111 0111</a></li>
      <li><a href="mailto:dell.goh@bss.org.sg"><i class="icon"><img src="{{root}}assets/img/icon-dark-small-mail.png" alt="email icon" /></i> dell.goh@bss.org.sg</a></li>
    </ul>
    <h3>Role</h3>
    <p>Administrator</p>
    <h3>Group</h3>
    <ul >
      <li><a href="#">Administrator</a></li>
      <li><a href="#">Donation</a></li>
      <li><a href="#">Volunteer</a></li>
    </ul>
  </div>
</aside>
